<p class="mb-4 fw-bold fs-4">
  Datos del vehículo
</p>

<form [formGroup]="vehicleForm" class="row g-3">
  <div class="col-6 text-start">
    <label for="placa" class="form-label">Placa</label>
    <input type="text" class="form-control text-uppercase" [ngClass]="{ 'is-invalid': isValidField('placa') }"
      id="placa" placeholder="Ej: ABC-123" formControlName="placa">
    <small *ngIf="isValidField('placa')" class="invalid-feedback">
      {{ getFieldError("placa") }}
    </small>
  </div>
  <div class="col-6 text-start">
    <label for="anioFabricacion" class="form-label">Año de fabricación</label>
    <input type="text" maxlength="4" class="form-control" [ngClass]="{ 'is-invalid': isValidField('anioFabricacion') }"
      id="anioFabricacion" placeholder="Ej: 2010" formControlName="anioFabricacion">
    <small *ngIf="isValidField('anioFabricacion')" class="invalid-feedback">
      {{ getFieldError("anioFabricacion", "año") }}
    </small>
  </div>
  <div class="col-12 text-start">
    <label for="foto" class="form-label">Foto del vehículo</label>
    <input type="file" class="form-control" [ngClass]="{ 'is-invalid': isValidField('foto') }" id="foto"
      (change)="onFileChange($event, 'foto')">
    <small *ngIf="isValidField('foto')" class="invalid-feedback">
      {{ getFieldError("foto") }}
    </small>
    <div class="img-thumbnail mx-auto mt-3">
      <img [src]="photoPreview" alt="previsualizar foto del vehículo" class="img-fluid rounded object-fit-cover">
    </div>
  </div>
  <div class="col-12 text-start">
    <label for="soat" class="form-label">Foto de SOAT</label>
    <input type="file" class="form-control" [ngClass]="{ 'is-invalid': isValidField('soat') }" id="soat"
      (change)="onFileChange($event, 'soat')">
    <small *ngIf="isValidField('soat')" class="invalid-feedback">
      {{ getFieldError("soat") }}
    </small>
    <div class="img-thumbnail mx-auto mt-3">
      <img [src]="soatPreview" alt="previsualizar foto de frente" class="img-fluid rounded object-fit-cover">
    </div>
  </div>
</form>
