<div class="docs-stepper">

  <mototax-steps [currentStep]="currentStep" />

  <ng-container [ngSwitch]="currentStep">
    <mototax-driver-license-form *ngSwitchCase="1" [driverLicenseForm]="driverLicenseForm"
      [frontPhotoPreview]="frontPhotoPreview" [backPhotoPreview]="backPhotoPreview"></mototax-driver-license-form>
    <mototax-vehicle-form *ngSwitchCase="2" [vehicleForm]="vehicleForm" [photoPreview]="photoPreview"
      [circulationCardFrontPreview]="circulationCardFrontPreview"
      [circulationCardBackPreview]="circulationCardBackPreview" [soatPreview]="soatPreview"></mototax-vehicle-form>
    <mototax-response-step *ngSwitchCase="3" [isSuccessResponse]="isSuccessResponse"></mototax-response-step>
  </ng-container>

  <button class="btn btn-outline-light mt-4 me-3 fw-bold" (click)="backStep()" *ngIf="currentStep < 3">
    Volver
  </button>
  <button class="btn btn-outline-warning mt-4 fw-bold" (click)="nextStep()" *ngIf="currentStep < 2">
    Continuar
  </button>
  <button class="btn btn-outline-warning mt-4 fw-bold" (click)="uploadDocuments()" *ngIf="currentStep === 2">
    Registrar
  </button>
  <a href="/" class="btn btn-outline-light mt-4 me-3 fw-bold" *ngIf="currentStep === 3">Ir al inicio</a>
</div>
