<p class="mb-4 fw-bold fs-4">
  Licencia de conducir
</p>

<form class="row g-3" [formGroup]="driverLicenseForm">
  <div class="col-md-6 text-start">
    <label for="licenseNumber" class="form-label">Número de licencia</label>
    <input type="text" class="form-control" [ngClass]="{ 'is-invalid': isValidField('licenseNumber') }"
      id="licenseNumber" formControlName="licenseNumber">
    <small *ngIf="isValidField('licenseNumber')" class="invalid-feedback">
      {{ getFieldError("licenseNumber") }}
    </small>
  </div>
  <div class="col-md-6 text-start">
    <label for="expirationDate" class="form-label">Fecha de vencimiento</label>
    <input type="date" class="form-control" id="expirationDate" [min]="getLimitDateAllowed()"
      formControlName="expirationDate" [ngClass]="{ 'is-invalid': isValidField('licenseNumber') }">
    <small *ngIf="isValidField('expirationDate')" class="invalid-feedback">
      {{ getFieldError("expirationDate") }}
    </small>
  </div>
  <div class="col-12 text-start">
    <label for="frontPhoto" class="form-label">Foto de la licencia frontal</label>
    <input type="file" accept="image/*" id="frontPhoto" class="form-control"
      [ngClass]="{ 'is-invalid': isValidField('frontPhoto') }" (change)="onFileChangeFront($event)">
    <small *ngIf="isValidField('frontPhoto')" class="text-danger-emphasis">
      {{ getFieldError("frontPhoto") }}
    </small>
    <div class="img-thumbnail mx-auto mt-3">
      <img [src]="frontPhotoPreview" alt="previsualizar foto de frente" class="img-fluid rounded object-fit-cover">
    </div>
  </div>
  <div class="col-12 text-start">
    <label for="backPhoto" class="form-label">Foto de la licencia trasera</label>
    <input type="file" accept="image/*" id="backPhoto" class="form-control"
      [ngClass]="{ 'is-invalid': isValidField('backPhoto') }" (change)="onFileChangeBack($event)">
    <small *ngIf="isValidField('backPhoto')" class="text-danger-emphasis">
      {{ getFieldError("backPhoto") }}
    </small>
    <div class="img-thumbnail mx-auto mt-3">
      <img [src]="backPhotoPreview" alt="previsualizar foto de atrás" class="img-fluid rounded  object-fit-cover">
    </div>
  </div>
</form>
