<p class="mb-4 fw-bold fs-4">
  Licencia de conducir
</p>

<form class="row g-3" [formGroup]="driverLicenseForm">
  <div class="col-md-6 text-start">
    <label for="numeroLicencia" class="form-label">Número de licencia</label>
    <input type="text" class="form-control" [ngClass]="{ 'is-invalid': isValidField('numeroLicencia') }"
      id="numeroLicencia" formControlName="numeroLicencia">
    <small *ngIf="isValidField('numeroLicencia')" class="invalid-feedback">
      {{ getFieldError("numeroLicencia") }}
    </small>
  </div>
  <div class="col-md-6 text-start">
    <label for="fechaVencimiento" class="form-label">Fecha de vencimiento</label>
    <input type="date" class="form-control" id="fechaVencimiento" [min]="getLimitDateAllowed()"
      formControlName="fechaVencimiento" [ngClass]="{ 'is-invalid': isValidField('fechaVencimiento') }">
    <small *ngIf="isValidField('fechaVencimiento')" class="invalid-feedback">
      {{ getFieldError("fechaVencimiento") }}
    </small>
  </div>
  <div class="col-12 text-start">
    <label for="fotoFrontal" class="form-label">Foto de la licencia frontal</label>
    <input type="file" accept="image/*" id="fotoFrontal" class="form-control"
      [ngClass]="{ 'is-invalid': isValidField('fotoFrontal') }" (change)="onFileChange($event, 'fotoFrontal')">
    <small *ngIf="isValidField('fotoFrontal')" class="text-danger-emphasis">
      {{ getFieldError("fotoFrontal") }}
    </small>
    <div class="img-thumbnail mx-auto mt-3">
      <img [src]="frontPhotoPreview" alt="previsualizar foto de frente" class="img-fluid rounded object-fit-cover">
    </div>
  </div>
  <div class="col-12 text-start">
    <label for="fotoPosterior" class="form-label">Foto de la licencia trasera</label>
    <input type="file" accept="image/*" id="fotoPosterior" class="form-control"
      [ngClass]="{ 'is-invalid': isValidField('fotoPosterior') }" (change)="onFileChange($event, 'fotoPosterior')">
    <small *ngIf="isValidField('fotoPosterior')" class="text-danger-emphasis">
      {{ getFieldError("fotoPosterior") }}
    </small>
    <div class="img-thumbnail mx-auto mt-3">
      <img [src]="backPhotoPreview" alt="previsualizar foto de atrás" class="img-fluid rounded  object-fit-cover">
    </div>
  </div>
  <div class="col-12 text-start">
    <label for="antecedentePolicial" class="form-label">Antecedentes policiales</label>
    <input type="file" accept="image/*" id="antecedentePolicial" class="form-control"
      [ngClass]="{ 'is-invalid': isValidField('antecedentePolicial') }"
      (change)="onFileChange($event, 'antecedentePolicial')">
    <small *ngIf="isValidField('antecedentePolicial')" class="text-danger-emphasis">
      {{ getFieldError("antecedentePolicial") }}
    </small>
    <div class="img-thumbnail mx-auto mt-3">
      <img [src]="policeRecordPreview" alt="previsualizar foto de atrás" class="img-fluid rounded  object-fit-cover">
    </div>
  </div>
</form>
